<h1> Portfolio Items </h1>

<%= link_to "Create New Item", new_portfolio_path %>

<% @portfolio_items.each do |portfolio_item| %>
  <p>  <%= portfolio_item.title %>
     <%= portfolio_item.body %>
      <%= portfolio_item.thumb_image %> </p>
    </hr>
    <%= link_to "Edit", edit_portfolio_path(portfolio_item.id) %>
<% end %>

